<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryAddController</servlet-name>
        <servlet-class>CategoryAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryUpdateController</servlet-name>
        <servlet-class>CategoryUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDeleteController</servlet-name>
        <servlet-class>CategoryDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAddController</servlet-name>
        <servlet-class>ProductAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteController</servlet-name>
        <servlet-class>ProductDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateController</servlet-name>
        <servlet-class>ProductUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAddController2</servlet-name>
        <servlet-class>ProductAddController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterController</servlet-name>
        <servlet-class>CustomerRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginController</servlet-name>
        <servlet-class>CustomerLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfileUpdateController</servlet-name>
        <servlet-class>CustomerProfileUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationController</servlet-name>
        <servlet-class>UserRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileUpdateController</servlet-name>
        <servlet-class>UserProfileUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartid</servlet-name>
        <servlet-class>Cartid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemsAdd</servlet-name>
        <servlet-class>CartItemsAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDeleteController</servlet-name>
        <servlet-class>CustomerDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateControllerSearch</servlet-name>
        <servlet-class>ProductUpdateControllerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteControllerSearch</servlet-name>
        <servlet-class>ProductDeleteControllerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateControllerScat</servlet-name>
        <servlet-class>ProductUpdateControllerScat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteControllerScat</servlet-name>
        <servlet-class>ProductDeleteControllerScat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemsAddBYhome</servlet-name>
        <servlet-class>CartItemsAddBYhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemsAddBYCat</servlet-name>
        <servlet-class>CartItemsAddBYCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchProductBWRTable</servlet-name>
        <servlet-class>UserSearchProductBWRTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryAddController</servlet-name>
        <url-pattern>/CategoryAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryUpdateController</servlet-name>
        <url-pattern>/CategoryUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDeleteController</servlet-name>
        <url-pattern>/CategoryDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAddController</servlet-name>
        <url-pattern>/ProductAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteController</servlet-name>
        <url-pattern>/ProductDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateController</servlet-name>
        <url-pattern>/ProductUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAddController2</servlet-name>
        <url-pattern>/ProductAddController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterController</servlet-name>
        <url-pattern>/CustomerRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginController</servlet-name>
        <url-pattern>/CustomerLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileUpdateController</servlet-name>
        <url-pattern>/CustomerProfileUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationController</servlet-name>
        <url-pattern>/UserRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/UserLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileUpdateController</servlet-name>
        <url-pattern>/UserProfileUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartid</servlet-name>
        <url-pattern>/Cartid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemsAdd</servlet-name>
        <url-pattern>/CartItemsAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDeleteController</servlet-name>
        <url-pattern>/CustomerDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateControllerSearch</servlet-name>
        <url-pattern>/ProductUpdateControllerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteControllerSearch</servlet-name>
        <url-pattern>/ProductDeleteControllerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateControllerScat</servlet-name>
        <url-pattern>/ProductUpdateControllerScat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteControllerScat</servlet-name>
        <url-pattern>/ProductDeleteControllerScat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemsAddBYhome</servlet-name>
        <url-pattern>/CartItemsAddBYhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemsAddBYCat</servlet-name>
        <url-pattern>/CartItemsAddBYCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchProductBWRTable</servlet-name>
        <url-pattern>/UserSearchProductBWRTable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
